/* Contact Page Styles */
.contact-page {
    padding: 20px;
    background-color: #f8f8f8;
    text-align: center;
  }
  
  .contact-page h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .contact-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
  }
  
  /* Store Information Styles */
  .store-info {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  .store-info h3{
    color:#714384 !important;
  }
  .store-info h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #007bff;
  }
  
  .store-info p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .social-media {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .social-media a {
    color: #333;
    text-decoration: none;
  }
  
  .social-media a:hover {
    color: #007bff;
  }
  
  .social-media span {
    font-size: 14px;
    color: #555;
  }
  
  /* Contact Form Styles */
  .contact-form {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    /* margin-bottom: 20px; */
    text-align: left;
    padding: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-group input,
  .form-group textarea {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .form-group textarea {
    resize: none;
    min-height: 100px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #714384;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
    }
  
    .store-info,
    .contact-form {
      padding: 15px;
    }
  
    .form-group input,
    .form-group textarea {
      font-size: 14px;
    }
  
    .submit-button {
      width: 100%;
    }
  }